@page

<hl>About</hl>

<p>Welcome to BewarMC website here you can find channel link vedios and every thing about the contant creator
</p>

<p>@DateTime.Now</p>

<p>BewarMC is a youtuber with 72 subscribers according to the time being wich is 12.30PM in the date of 6/19/2023
   started his channel in the same year and continuing to grow bigger and bigger and if you want to go and check
   out his youtube channel use the link under this text.</p>

<p>Channel Link:https://www.youtube.com/channel/UC00C4Caqsio94anSXQbvvKQ</p>


